h1 {
  padding: 0px;
  margin: 0px;
  color: #364F6B;
}

h2 {
  padding: 0px;
  margin: 0px;
  color: #364F6B;
}

h3 {
  padding: 0px;
  margin: 0px;
  color: #364F6B;
}

p {
  padding: 0px;
  margin: 0px;
  color: #252A34;
}


/* ----- ----- ----- ----- ----- */


#app {
  padding: 2px;
}

header {
  padding: 2px;
}

      nav {padding:0px;}

main {
  padding: 5px;
}

      section {color:rgb(17, 16, 17);}
      .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-content: center;
        align-items: center;
      }

            article {
              padding: 10px;
              background: #eaeaea;
            }

            .container-heading {padding:0px;}

                  .art1-green {color:rgb(17, 16, 17);}
                  .form-container {color:rgb(17, 16, 17);}

                  .art2-blue {color:rgb(17, 16, 17);}
                  .item-container {color:rgb(17, 16, 17);}

                  .art3-yellow {color:rgb(17, 16, 17);}
                  .timer-container {color:rgb(17, 16, 17);}

                  .art4-orange {color:rgb(17, 16, 17);}
                  .chart-container {color:rgb(17, 16, 17);}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}


/*
https://colorhunt.co/palette/364f6b3fc1c9f5f5f5fc5185
https://colorhunt.co/palette/08d9d6252a34ff2e63eaeaea
*/